#rssreader h2
{
    font-size: 22px;
    color: #2485ae;
    padding-left: 15px;
    padding-top: 18px;
    border-bottom: none;
}

#rssreader
{
    float: right;
    width: 314px;
    border: 1px solid #e8ece9;
    margin-right: 25px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    margin-top: 20px;
    font-size: 14px;
}

#rssreader #pubDate {
    font-size: 12px;
}

#rssreader #moreNews {
    margin-top: 14px;
}

body.loggedIn #intro {
    width: 570px;
}